container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate ; python manage.py migrate"
    leader_only: true
  02_upgrade-pip:
    command: "source /var/app/venv/*/bin/python ; pip install --upgrade pip"
  03_createsu:
    command: "source /var/app/venv/*/bin/activate ; cd /var/app/staging ; python manage.py createsu"
    leader_only: true
  04_collectstatic:
    command: "source /var/app/venv/*/bin/activate ; python manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings